header {
    width: 500px;
    height: 50px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(0, 183, 255);
    font-size: larger;
    border-radius: 2%;
    
}

body {background-color: rgb(196, 190, 190);}


p+h2 {
    color: orange;
}

.box {
    width: 300px;
    margin: 50px;
    padding: 10px;
    float: left;
    border-radius: 10%;
    
}

.bg-pink {
    background-color: pink;
}

.bg-green {
    background-color: green;
}

.bg-purple {
    background-color: rgb(150, 36, 131);
}

img {
    width: 200px;
    padding: 10px 40px
    ;
}